/Cover.docx
/Desautels-Faculty-of-Management-McGill-University-1024x468.jpeg
/image.jpeg
/mcgill-university-logo-png-transparent-cropped.png
/Metro Schedule Optimization for Société de transport de Montréal.pdf
/MGSC662-Fall 21-261044081.pdf
/MGSC662-Fall 21-Team Peer Evaluation.docx
/MGSC662_G6_Project_Proposal.pdf
/ProjectGuidelines.pdf
/Screen Shot 2021-12-01 at 6.03.34 PM.png
/table.docx
/~$SC662-Fall 21-Team Peer Evaluation.docx
